.row {
    display: flex;
    height: 12px;
}
.cell {
    flex: 1;
    border: 1px solid;
    transition: background-color 0.15s;
}

.empty {
    background-color: yellow;
}

.full {
    background-color: green;
}
